<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Positions</title>
    <!-- Required meta tags -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>






<div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->


      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <%- include('../partials/navigation.ejs') %>
        </nav>


       
        <div class="main-panel">
          <div class="content-wrapper">



            
            <div class="content-wrapper">
              <div class="row">
                <div class="col-12 grid-margin stretch-card">
                  <div class="card corona-gradient-card">
                    <div class="card-body py-0 px-0 px-sm-3">
                      <div class="row align-items-center">
                        <div class="col-4 col-sm-3 col-xl-2">
                          <img src="/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                        </div>
                        <div class="col-5 col-sm-7 col-xl-8 p-0">
                          <h3 class="mb-1 mb-sm-0" style="text-align: center;">Election  Position manager</h3>
                          <p class="mb-0 font-weight-normal d-none d-sm-block" style="text-align: center;"><i>Select Election to Register or update Election Position</i></p>
                        </div>
                        <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <br />
            
  
  
 
<%

        if(alertsm.length>0)
        {


%>
           
        

           <div class="alert alert-success" style="text-align: center;">
              <strong>Success!</strong>  <%= alertsm %>
            </div>
            <br /><br />
            <%
          
          
          }

          if(elections.length<1)
          {
          %>

          <div class="alert alert-warning" role="alert" style="text-align: center;">
            No record found!
          </div>


          <%
          

          }
          else

          {
            
 

        %>  
            <div class="row">
             
  
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  
  
                    <div class="table-responsive">
                      <table class="table table-dark table-hover">
                        <thead>
                          <tr>
                            <th style="width:5%"> Election Title </th>
                            <th style="width:5%"> Start Date and Time</th>
                            <th style="width:5%"> Stop Date an Time</th>
                            <th style="width:5%"> Date Registered </th>
                            <th style="width:5%"> Status </th>
                            <th style="width:5%"> Action </th>
  
                          </tr>
                        </thead>
                        <tbody>
              
              <%
                         
                          
                         //date conversion function

                         function dateconversion(date_value)
                         {
                       
                          var formattedDate = date_value.toLocaleDateString('en-GB', {
                          day: 'numeric', month: 'short', year: 'numeric'
                           }).replace(/ /g, '-');

                           return formattedDate;
                        }


                          elections.forEach(function(election){
                          var class_css="";
                          var status_value="";
                          if (election.status=="not_started")
                          {
                            
                            var class_css="badge badge-outline-warning";
                            var status_value="Not Started";
                          }   
                          else if (election.status=="running")
                           {
                            var class_css="badge badge-outline-success";
                            var status_value="running";

                           }
                           else
                           {
                            var class_css="badge badge-outline-danger";
                            var status_value="completed"; 
                     

                           }

              %>
                          <tr>
                            <td> <%= election.title %> </td>
                            <td> <%= dateconversion(election.start_date) %> &nbsp;|&nbsp; <%= election.start_time %></td>
                            <td> <%= dateconversion(election.stop_date) %> &nbsp;|&nbsp;<%= election.stop_time %></td>
                            <td> <%= dateconversion(election.createdAt) %> </td>
                            <td> <div class="<%= class_css %> "><%= status_value %></div>
                             
                              <%
                              
                              if (election.published=="yes")
                              {
                              %>
                              <br/><br/>
                              <div class="badge badge-outline-success">Published</div>
                             <% } %>
                            </td>
                            <td>
                              <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  Action
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item " href="/position/register2/<%= election.election_id %>">Register </a>
                                  <a class="dropdown-item " href="/position/manage/<%= election.election_id %>/0">Manage </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
         
          </div>

          
   
    </div> 

    <nav aria-label="..." style="justify-content: center;">
        <ul class="pagination" style="justify-content: center;">
          <% if(page==0){ %>
        <li class="page-item disabled"><span class="page-link">&lt;&lt;</span></li>
        <%} else {  %>
        <li class="page-item"><a class="page-link" href="/position/pregister/<%= page-1 %>">&lt;&lt;</a></li>
        <% } %>

          <% for(let i = 0; i < totalPages; i++) { if(i==page){ %>
          <li class="page-item active" aria-current="page">
            <span class="page-link"><%= i+1 %></span>
          </li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/position/pregister/<%= i %>"><%= i+1 %></a></li>
          <% }} if(page==(totalPages-1)) { %>
          <li class="page-item disabled"><span class="page-link">&gt;&gt;</span></li>
          <% } else { %>  
          <li class="page-item"><a class="page-link" href="/position/pregister/<%= page+1 %>">&gt;&gt;</a></li>  
          <% } %>

        </ul>
    </nav>

    <% }%>
    <footer class="footer">
      <%- include('../partials/footer.ejs') %>
    </footer>
  <!--adding scripts-->
  <%- include('../partials/script.ejs') %>
  </body>
</html>