<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Voters</title>
  <!-- Required meta tags -->
  <%- include('../partials/head.ejs') %>
</head>

<body>






  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->


    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <%- include('../partials/navigation.ejs') %>
    </nav>



    <div class="main-panel">
      <div class="content-wrapper">
       

        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card corona-gradient-card">
                <div class="card-body py-0 px-0 px-sm-3">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-3 col-xl-2">
                      <img src="/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                    </div>
                    <div class="col-5 col-sm-7 col-xl-8 p-0">
                      <h3 class="mb-1 mb-sm-0" style="text-align: center;">Voter View</h3>
                      <p class="mb-0 font-weight-normal d-none d-sm-block" style="text-align: center;"><i>List of all the voter registered for this election</i></p>
                    </div>
                    <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
          <%  var count_voters=0; var count_disqualified=0; stats.forEach(function(record){
             if(record.status=="disqualified"){count_disqualified=count_disqualified+1;}else{count_voters=count_voters + 1;} });%>

            <div class="content-wrapper">
              
              <div class="row mx-auto stretch-card">
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">
                              <%= stats.length %>
                            </h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Total voters</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">
                              <%= count_voters %>
                            </h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Eligible Voters </h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">
                              <%= count_disqualified %>
                            </h3>
                            <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-danger">
                            <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Disquafied Voters </h6>
                    </div>
                  </div>
                </div>
            </div>



          <br />


          <% if(alertsm.length>0)
            {


            %>


            <div class="alert alert-success" style="text-align: center;">
              <strong>Success!</strong>
              <%= alertsm %>
            </div>
            <br /><br />
            <h4>election_title</h4>
            <% } if(voter_rolls.length<1) { %>

              <div class="alert alert-warning" role="alert" style="text-align: center;">
                No voters found!
              </div>


              <% } else { %>
                <div class="row">
                  

                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class = "card-title"> <%= election.title %></h4>

                        <div class="table-responsive">
                          
                          <table class="table table-dark table-hover">
                            <thead>
                              <tr>

                                <th style="width:5%"> First Name </th>
                                <th style="width:5%"> Last Name</th>
                                <th style="width:5%"> Contact Number </th>
                                <th style="width:5%"> Date Registered</th>
                                <th style="width:5%"> Status</th>

                              </tr>
                            </thead>
                            <tbody>

                      <% 
                              //date conversion function function dateconversion(date_value) { var
                                function dateconversion(date_value)
                                {
                              
                                  var formattedDate = date_value.toLocaleDateString('en-GB', {
                                  day: 'numeric', month: 'short', year: 'numeric'
                                  }).replace(/ /g, '-');

                                  return formattedDate;
                                }


                                  voter_rolls.forEach(function(voter_roll){
                          %>
                                <tr>
                                  <td>
                                    <%= voter_roll.user_info.firstname %>
                                  </td>
                                  <td>
                                    <%= voter_roll.user_info.lastname %>
                                  </td>
                                  <td>
                                    <%= voter_roll.user_info.phonenumber %>
                                  </td>
                                  
                                  <td>
                                    <%= dateconversion(voter_roll.createdAt) %>
                                  </td>
                                

                                  <td>
                                    <% if (voter_roll.status=="eligible" ) { %>
                                      <div class="badge badge-outline-success">eligible</div>
                                      <% } else { %>
                                        <div class="badge badge-outline-danger">Disquafied</div>
                                        <% } %>
                                  </td>
                                  
                                </tr>
                                <% }); %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

        </div>

        <% }%>
        


           <!-- main-panel ends -->
           
          
      </div>
      <nav aria-label="..." style="justify-content: center;">
                <ul class="pagination" style="justify-content: center;">
                 <% if(page==0){ %>
                <li class="page-item disabled"><span class="page-link">&lt;&lt;</span></li>
                <%} else {  %>
                <li class="page-item"><a class="page-link" href="/voter_roll/view/<%=eid%>/<%= page-1 %>">&lt;&lt;</a></li>
                <% } %>

                  <% for(let i = 0; i < totalPages; i++) { if(i==page){ %>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link"><%= i+1 %></span>
                  </li>
                  <% } else { %>
                  <li class="page-item"><a class="page-link" href="/voter_roll/view/<%=eid%>/<%= i %>"><%= i+1 %></a></li>
                  <% }} if(page==(totalPages-1)) { %>
                  <li class="page-item disabled"><span class="page-link">&gt;&gt;</span></li>
                  <% } else { %>  
                 <li class="page-item"><a class="page-link" href="/voter_roll/view/<%=eid%>/<%= page+1 %>">&gt;&gt;</a></li>  
                 <% } %>

                </ul>
              </nav>
      <!--adding scripts -->
      <footer class="footer">
            <%- include('../partials/footer.ejs') %>
      </footer>
      <%- include('../partials/script.ejs') %>
      
</body>

</html>